.App {
  text-align: center;
  background-color: grey;
  
}

.header {
  background-color: rgb(0, 190, 0);
}

h3 {
  padding-top: 0;
  margin-top: 0;
}


.day {
  /* display: inline-flex; */
  border: solid black;
  height: 200px;
  width: 180px;
  background-color:  rgb(0, 190, 0);
  text-align: left;
  padding-left: 5px;
}

.month {
  display: flex;
  flex-direction: column;
 
}

.week {
  display: flex;
  
}

.year-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
